* {
	margin: 0;
	padding: 0;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.forFlex{
	display:flex;
}
.header1{
	padding:0 0 3px 0;
}
.bgcolor{
	background-color:#f5f5f5;
}
.spaceBetween{
	justify-content:space-between;
}
.header1Left{
	width:150px;
	margin: 10px 60px 0 0;
	font-size:12px;
}
.border{
	border-right: 2px solid grey;
	padding:0 8px 0 0;
	height:13px;
}
.headerImg img{
	width:20px;
	margin: 10px 0 0 47px;	
}
.header2Img img{
	width:56px;
	margin: 0px 0px 0 40px;
}
.header2Icon1 img{
	width:25px;
}
.header2Icon2 img{
	width:25px;
}
.header2Middle{
	width:380px;
	margin:0 0 0 180px;	
}
.header2right{
	align-items:center;
	width: 275px;
	margin-right:45px;
}
.searchbar img{
	width:25px;
}
.header2{
	align-items: center;
	padding:10px 0 10px 0;
}
.header3{
	padding:30px;
}

/* main body starts */


.video1{
	width:1225px;
}

.forCenter{
	justify-content: center;
}
.content{
	margin:55px 0 0 0;
}
.fontSizeSmall{
	font-size:20px;
}
.fontSizeExtraSmall{
	font-size:12px;
}
.fontSizeLarge{
	font-size:85px;
}
.fontSizeMedium{
	font-size:25px;
}
.content3{
	margin:17px 0 0 0;
}
.content4{
	margin:40px 0 0 0;
}
.Button1{
	width:100px;
	font-size:16px;
	border-radius:50px;
	color: white;
	background: black;
	padding:7px;
}
.runningGearHead2 img{
	width:420px;
}
.runningGearHead1{
	margin:0 0 20px 0;
}
.runningGearHead{
	margin:100px 50px 0 50px;
}
.img1{
	position:relative;
}
.shopButton{
	position:absolute;
	bottom:40px;
	left:40px;
	color:white;
			
}
.button2{
	width:80px;
	border:none;
	font-size:16px;
	border-radius:50px;
	color: black;
	background: white;
	padding:10px;
}
.spacing{
	padding:40px 0 0 0;
}
.searchbar{
	align-items: center;
	padding:8px 16px 8px 10px;
	border-radius:30px;
	margin-right:2px;	
}
.searchbar input{
	border:none;
	background-color:#f5f5f5;
	width:125px;
	color:gray;
	font-size:17px;
}
.newArrivalProducts img{
	width:620px;
}
.runningGearHead1{
	margin:0 0 20px 0;
}
.newArrivals{
	margin:100px 50px 0 50px;
}
.itemOptions{
	width:780px;
	margin:150px 0 0 220px;
}

.subHeading{
	margin:0 0 22px 0;
}
.item p{
	margin:0 0 15px 0;
	color:grey;
}
.subHeading2{
	display:none;
}
.footerHeader p{
	margin:0 0 22px 0;
}
.footerHeader{
	margin:0 0 0 0;
}
.footerHeader2{
	margin:0 0 0 70px;
}
.footerHeader3{
	margin:0 0 0 50px;
}
.footerBody{
	background-color:black;
	color:white;
}

/* LISTING STARTS */	

/*  colors  */

.brightColor{
	color:#b73500e0;
}
.lightColor{
	color:#757575;	
}

/*  font  */

.fontMedium{
	font-size:24px;
}



/*  layouts  */

.listHead{
	margin:70px 0 0 47px;
}
.listMainHead{
	margin:10px 0 0 47px;
}
select{
	border:none;
}
.listMainHeadLeft img{
	width:20px;
}
.listMainHeadLeft{
	align-items:center;
	justify-content: space-between;
	width: 210px;
 	margin-right: 51px
}
.sidebar{
	width:15%;
	margin:30px 0 0 50px;
	overflow: auto;
	height: 700px;
	position:sticky;
	top:0;
}
.mainOption{
	margin:12px 0 10px 0;
}
.sidebarOptions{
	margin:0 0 50px 0;
}

.subOption{
	border-top:1px solid #e0e0d1;
	padding:15px 0 15px 0;
}
.products img{
	width:320px;
}
.productslist{
	width:85%;
	margin:35px 55px 0 80px;
}

/* sign in*/

.nikeimg img {
	width:45px;	
}
.nikeimg{
	margin:30px 0 0 0;
}
.center{
	justify-content:center;
}
.alignCenter{
	align-items:center;
}

.details1{
	padding:10px;
	width:350px;
	margin-top:30px;
	border: 1px solid #e8e8e8;
}
.colorlight{
	color:#8d8d8d;
}
input{
	border:none;
}
.details2{
	padding:10px;
	width:350px;
	margin-top:20px;
	border: 1px solid #e8e8e8;
}
.signinDetail{
	margin:25px 0 0 0;
}
.formHeader1{
	margin:35px 0 0 0;
}
.container b{
	font-size:20px;
}
.fontsizeSmall{
	font-size:13px;
}
.nikeFormContent{
	margin-top:20px;
}
.submiting{
	width:375px;
	padding:5px 40px 20px 5px;
	background-color:black;
	border-radius:3px;
	color:white;
	margin:30px 0 0 0;
}
.details3{
	padding:10px;
	width:150px;
	margin-top:20px;
	border: 1px solid #e8e8e8;
}
.margin{
	margin-left:18px;
}
.productView{
	width:375px;
	padding:5px;
}
.prdctImg{
	margin:90px 0 0 37px;
}
.subprdcts{
	width:75px;
}
.ukSize{
	width: 134px;
	background-color: transparent;
	color: black;
	border-radius: 5px;
	padding:15px;
	margin:5px 0 0 0;
	border:1px solid #e0e0d1;
}
.heart{
	width:20px;
}
.whishlistSelect{
	width: 409px;
	padding: 20px;
	border-radius: 35px;
}
.bgcolorDark{
	background-color:black;
	color:white;
}
.bgcolorLight{
	background-color: transparent;
}
.starRating{
	width:120px;
}
.prdctDetails{
	margin:93px 0 0 80px;
}
.marginTopExtraSmall{
	margin:5px 0 0 0;
}
.marginTopSmall{
	margin:20px 0 0 0;
}
.marginTopMedium{
	margin:50px 0 0 0;
}
.marginTopLarge{
	margin:80px 0 0 0;
}
.review{
	border-top:1px solid #e0e0d1;
	padding:30px;
	font-size:22px;
}
.productMainImg{
	margin:50px 0 0 47px;
	width:1250px;
}
.productMainImg1{
	width:1250px;
	margin:150px 0 0 47px;
}
.subHeaderMargin{
	margin:0 50px 0 47px;
}
.buttonIcon{
	width: 40px;
	border-radius: 20px;
	padding: 10px 0 10px 0;
	border:none;
}
.likeImages{
	width:400px;
}
.marginLeft{
	margin:0 0 0 47px;
}

.marginLeftShort{
	margin:0 0 0 10px;
}
.productDetails{
	background-color:#f5f5f5;
	padding:15px 15px 10px 15px;	
}
.productDetails img{
	width:20px;
}
.productDetails{
	width:685px;
}
.selectedImg{
	width:150px;
}
.detailsContent{
	width:535px;
	margin:5px 0 0 25px;
}
.sizeAndQuantity{
	width:120px;
}
.icons{
	width:25px;
}
.productFullDetails{
	border-bottom: 2px solid #f5f5f5;
	margin: 0 0 30px 0;
}
.questionImg{
	width:12px;
	margin-left:5px;
}
.rateSub{
	margin:30px 0 0 0;
	padding: 0 0 15px 0;
	border-bottom: 2px solid #f5f5f5;
	width:340px;
}
.cartButton{
	width: 333px;
	border: none;
	font-size: 16px;
	border-radius: 50px;
	color: white;
	background: black;
	padding: 20px;
	margin: 10px 0 0 0;
}
.productDetail{
	margin:0 0 0 30px;
}
.productCart{
	margin:50px 0 0 140px;
}
.storeSubHeading{
	margin:80px 0 0 140px;
}
.storeSubHeaderMargin{
	margin:80px 0 0 47px;
}
.otherChoises{
	overflow-x: scroll;
}
.paddingRight{
	padding:0 5px 0 0;
}


/*check out*/


