* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	color:black;
}

.forFlex {
	display: flex;
}

.header1 {
	padding: 0 0 3px 0;
}

.bgcolor {
	background-color: #f5f5f5;
}

.footer2body {
	background-color: black;
	align-items: center;
}

.footerEnd {
	width: 270px;
	margin: 0 50px 20px 0;
	align-items: center;
}

.spaceBetween {
	justify-content: space-between;
}

.header1Left {
	width: 150px;
	margin: 10px 60px 0 0;
	font-size: 12px;
}

.border {
	border-right: 2px solid grey;
	padding: 0 8px 0 0;
	height: 13px;
}

.headerImg img {
	width: 20px;
	margin: 10px 0 0 47px;
}

.header2Img img {
	width: 56px;
	margin: 0px 0px 0 40px;
}

.header2Icon1 img {
	width: 25px;
}

.header2Icon2 img {
	width: 25px;
}

.header2Middle {
	width: 380px;
	margin: 0 0 0 180px;
}

.header2right {
	align-items: center;
	width: 275px;
	margin-right: 45px;
}

.searchbar img {
	width: 25px;
}

.header2 {
	align-items: center;
	padding: 10px 0 10px 0;
}

.header3 {
	padding: 30px;
}


/* main body starts */


.video1 {
	width: 1225px;
}

.forCenter {
	justify-content: center;
}

.content {
	margin: 55px 0 0 0;
}

.fontSizeSmall {
	font-size: 20px;
}

.fontSizeExtraSmall {
	font-size: 12px;
}

.fontSizeLarge {
	font-size: 85px;
}

.fontSizeMedium {
	font-size: 25px;
}

.fontSizeMedium1 {
	font-size: 32px;
}

.content3 {
	margin: 17px 0 0 0;
}

.content4 {
	margin: 40px 0 0 0;
}

.Button1 {
	width: 100px;
	font-size: 16px;
	border-radius: 50px;
	color: white;
	background: black;
	padding: 7px;
	border:none;
}

.runningGearHead2 img {
	width: 405px;
}

.imgPadding {
	padding: 0 10px 0 0;
}

.runningGearHead1 {
	margin: 0 0 20px 0;
}

.runningGearHead {
	margin: 100px 50px 0 50px;
}

.img1 {
	position: relative;
}

.shopButton {
	position: absolute;
	bottom: 40px;
	left: 40px;
	color: white;

}

.button2 {
	width: 80px;
	border: none;
	font-size: 16px;
	border-radius: 50px;
	color: black;
	background: white;
	padding: 10px;
}

.spacing {
	padding: 40px 0 0 0;
}

.searchbar {
	align-items: center;
	padding: 8px 16px 8px 10px;
	border-radius: 30px;
	margin-right: 2px;
}

.searchbar input {
	border: none;
	background-color: #f5f5f5;
	width: 125px;
	color: gray;
	font-size: 17px;
}

.featuredImg {
	width: 1235px;
}

.newArrivalImg1 {
	width: 629px;
}

.newArrivalImg2 {
	width: 595px;
}

.runningGearHead1 {
	margin: 0 0 20px 0;
}

.newArrivals {
	margin: 100px 50px 0 50px;
}

.itemOptions {
	width: 780px;
	margin: 150px 0 0 220px;
}

.subHeading {
	margin: 0 0 22px 0;
}

.item p {
	margin: 0 0 15px 0;
	color: grey;
}

.subHeading2 {
	display: none;
}

.map {
	width: 15px;
}

.footerHeader p {
	margin: 0 0 22px 0;
}

.footerHeader {
	margin: 0 0 0 0;
}

.footerHeader2 {
	margin: 0 0 0 70px;
}

.footerHeader3 {
	margin: 0 0 0 50px;
}

.footerBody {
	background-color: black;
	color: white;
}

.footerImg {
	width: 25px;
	padding: 0 5px;
}

.footerImgMargin {
	margin: 0 50px 0 0;
}

.mainHeaderFooter {
	margin: 50px;
}

.footerImgMargin {
	margin: 50px 20px 0 0;
}

.footerEnd1 {
	width: 270px;
	margin: 0 50px 20px 0;
}

.footerEnd2 {
	width: 370px;
	margin: 0 50px 20px 0;
}

/* LISTING STARTS */

/*  colors  */

.brightColor {
	color: #b73500e0;
}

.lightColor {
	color: #757575;
}

.colorLightFooter {
	color: #7e7e7e;
}

.darkColor {
	color: #9e3500
}

/*  font  */

.fontMedium {
	font-size: 24px;
}


/*  layouts  */


.relative {
	position: relative;
}

.listHead {
	margin: 70px 0 0 47px;
}

.listMainHead {
	margin: 10px 0 0 47px;
}

select {
	border: none;
}

.listMainHeadLeft img {
	width: 20px;
}

.listMainHeadLeft {
	align-items: center;
	justify-content: space-between;
	width: 210px;
	margin-right: 51px
}

.sidebar {
	width: 17%;
	margin: 30px 0 0 50px;
	overflow: auto;
	height: 700px;
	position: sticky;
	top: 0;
}

.mainOption {
	margin: 12px 0 10px 0;
}

.sidebarOptions {
	margin: 0 0 50px 0;
}

.subOption {
	border-top: 1px solid #e0e0d1;
	padding: 15px 0 15px 0;
}

.products img {
	width: 320px;
}

.products {
	padding: 0px 15px 0px 0px;
}

.productslist {
	margin: 36px 40px 0 35px;
}

.productslist1 {
	margin: 36px 40px 0 35px;
	padding-bottom: 50px;
	border-bottom: 1px solid #80808033;

}

.mainbodyListing {
	width: 85%;
}

.listingPageMargin {
	margin: 40px 0 0 37px
}

.listingButton {
	padding: 7px 15px;
	border-radius: 25px;
	background-color: transparent;
	border: 1px solid #cccccc;
	margin: 5px 5px 0 0;
}

.relatedImg {
	width: 330px;
}

.relatedStories {
	overflow-x: scroll;
	width: 1044px;
}

/* sign in*/

.nikeimg img {
	width: 45px;
}

.nikeimg {
	margin: 30px 0 0 0;
}

.center {
	justify-content: center;
}

.alignCenter {
	align-items: center;
}

.details1 {
	padding: 10px;
	width: 350px;
	margin-top: 30px;
	border: 1px solid #e8e8e8;
}

.colorlight {
	color: #8d8d8d;
}

input {
	border: none;
}

.details2 {
	padding: 10px;
	width: 350px;
	margin-top: 20px;
	border: 1px solid #e8e8e8;
}

.signinDetail {
	margin: 25px 0 0 0;
}

.formHeader1 {
	margin: 35px 0 0 0;
}

.container b {
	font-size: 20px;
}

.fontsizeSmall {
	font-size: 13px;
}

.nikeFormContent {
	margin-top: 20px;
}

.submiting {
	width: 375px;
	padding: 5px 40px 20px 5px;
	background-color: black;
	border-radius: 3px;
	color: white;
	margin: 30px 0 0 0;
}

.details3 {
	padding: 10px;
	width: 150px;
	margin-top: 20px;
	border: 1px solid #e8e8e8;
}

.margin {
	margin-left: 18px;
}

.productView {
	width: 375px;
	padding: 5px;
}


.prdctImg {
	margin: 90px 0 0 37px;
}

.subprdcts {
	width: 75px;
}

.subprdctsS {
	width: 75px;
	border:1px solid black;
}
.ukSize {
	width: 134px;
	background-color: transparent;
	color: black;
	border-radius: 5px;
	padding: 15px;
	margin: 5px 0 0 0;
	border: 1px solid #e0e0d1;
}

.heart {
	width: 15px;
}

.whishlistSelect {
	width: 409px;
	padding: 20px;
	border-radius: 35px;
	border: 1px solid #80808036;
}

.bgcolorDark {
	background-color: black;
	color: white;
}

.bgcolorLight {
	background-color: transparent;
}

.imgStar {
	width: 15px;
	padding-right: 10px;
}

.absolute {
	position: absolute;
	top: 45px;
	left: 40px;
}

.ratingButton {
	background-color: white;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 20px;
}

.starRating {
	width: 120px;
}

.prdctDetails {
	margin: 93px 0 0 80px;
}

.marginLeftLarge {
	margin: 0 0 0 150px;
}

.marginTopExtraSmall {
	margin: 5px 0 0 0;
}

.marginTopSmall {
	margin: 20px 0 0 0;
}

.marginTopMedium1 {
	margin: 30px 0 0 0;
}

.marginTopMedium {
	margin: 50px 0 0 0;
}

.marginTopLarge {
	margin: 80px 0 0 0;
}

.marginTopExtraLarge {
	margin: 120px 0 0 0;
}

.review {
	border-top: 1px solid #e0e0d1;
	padding: 30px 0;
	font-size: 22px;
}

.productMainImg {
	margin: 50px 0 0 47px;
	width: 1250px;
}

.productMainImg1 {
	width: 1250px;
	margin: 150px 0 0 47px;
}

.subHeaderMargin {
	margin: 0 50px 0 47px;
}

.buttonIcon {
	margin: 0 10px 0 0;
	width: 46px;
	border-radius: 20px;
	padding: 12px 0 12px 0;
	border: none;
}

.relatedStories {
    margin: 10px 0 80px 0;
}

.likeImages {
	width: 400px;
}

.marginLeftMedium {
	margin:0 0 0 38px;
}

.marginLeft {
	margin: 0 0 0 47px;
}

.marginLeftShort {
	margin: 0 0 0 10px;
}

.productDetails {
	background-color: #f5f5f5;
	padding: 15px 15px 10px 15px;
}

.productDetails img {
	width: 20px;
}

.productDetails {
	width: 685px;
}

.selectedImg {
	width: 150px;
}

.detailsContent {
	width: 535px;
	margin: 5px 0 0 25px;
}

.sizeAndQuantity {
	width: 120px;
}

.icons {
	width: 25px;
}

.productFullDetails {
	border-bottom: 2px solid #f5f5f5;
	margin: 0 0 30px 0;
}

.questionImg {
	width: 16px;
	margin-left: 5px;
}

.rateSub {
	margin: 25px 0 0 0;
	padding: 0 0 15px 0;
	border-bottom: 2px solid #f5f5f5;
	width: 340px;
}

.cartButton {
	width: 333px;
	border: none;
	font-size: 16px;
	border-radius: 50px;
	color: white;
	background: black;
	padding: 20px;
	margin: 10px 0 0 0;
}

.productDetail {
	margin: 0 0 0 30px;
}

.productCart {
	margin: 50px 0 0 140px;
}

.storeSubHeading {
	margin: 80px 0 0 140px;
}

.storeSubHeaderMargin {
	margin: 80px 0 0 47px;
}

.otherChoises {
	overflow-x: scroll;
}

.paddingRight {
	padding: 0 5px 0 0;
}
.similarProducts {
	margin: 0 0 80px 0;
}


/*Help Page*/

.helpSearchbar img {
	width: 22px;
}

.helpSearchbar {
	width: 380px;
	border: 1px solid grey;
	padding: 18px 10px 20px 18px;
	border-radius: 10px;
}

.marginLeftRightHigh {
	margin: 0 140px 0 140px;
}

.subHeadHelp {
	padding: 0 0 15px 0;
	border-bottom: 1px solid #ebe5e5;
}

.helpInfo {
	width: 360px;
}

.helpImg {
	width: 50px;
}

.helpStore {
	width: 350px;
}


/*checkout page*/


.checkoutHeaderImg1 {
	width: 65px;
	padding: 10px 0 10px 0;
}

.checkoutHeaderImg2 {
	width: 25px;
}

.checkoutHeaderImg3 {
	width: 20px;
}

.checkoutHeaderLeft {
	width: 160px;
	display: flex;
	justify-content: center;
}

.checkoutHeader {
	padding: 10px 0 0 0;
}

.checkoutHeaderRight {
	width: 305px;
	padding: 17px 70px 0 0;
}

.checkoutPara {
	width: 430px;
}

.delivery {
	border: 2px solid black;
	width: 425px;
	padding: 25px 0 25px 0;
	border: rad;
	border-radius: 10px;
}

.marginMRP {
	margin: 5px 50px 0 0;
}

.checkoutHeaderImg4 {
	width: 20px;
	padding: 0 0 0 15px;
}

.checkoutButton {
	padding: 12px 22px;
	border-radius: 25px;
	background-color: transparent;
	border: 1px solid #cccccc;
}

.inputCheckout {
	padding: 20px;
	border: 1px solid #cccccc;
	width: 370px;
	border-radius: 5px;
}

.inputCheckout1 {
	padding: 15px;
	border: 1px solid #cccccc;
	width: 155px;
	border-radius: 5px;
}

.checkoutMainbody1 {
	margin: 100px 0 0 220px;
}

.selectedImg {
	width: 200px;
}

.checkoutDetail {
	width: 100px;
	margin: 10px 0 0 25px;
}

.checkoutMainbody2 {
	margin: 100px 0px 0 145px
}

.checkoutCheckbox {
	font-size: 11px;
	width: 396px;
}

.checkoutButton1 {
	padding: 20px 175px;
	border-radius: 25px;
	background-color: #f5f5f5;
	border: none;
}

.paymentDetail {
	border-top: 2px solid #f5f5f5;
	margin: 25px 0 0 0;
	padding: 20px;
}

.pionter {
	cursor:pointer;
}

.paddingBottomMedium {
	padding-bottom:70px;
}

.brightColorHover:hover {
	background-color: #c8cccf;
}

.brightColorButton:hover {
	background-color: #b5b8ba;
}

.lightColorButton:hover {
	background-color: #ebeef0;
}

.darkColorFont:hover {
	color:black;
}

.lightColorFont:hover {
	color:white;
}

.brightColorFont:hover {
	color: #c8cccf;
}

.ButtonBorderDark:hover {
	border:1px solid black;
}

.buttonBorderNone:hover {
	border:none
}
